{% extends "bootstrap_enabler.html" %}

{% block head %}
<title> Donate Books</title>
{% endblock head %}

{% block body %}
<!--<nav class="navbar navbar-dark navbar-expand-sm fixed-top">-->
<!--        <div class="container">-->
<!--            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->
<!--           <a class="navbar-brand" href="#"><a class="navbar-brand mr-auto" href="{{url_for('ui.landing_page')}}"><img src="/static/images/grameen_library_logo.jpeg" height="40" width="40"></a>-->
<!--        </a>-->
<!--                <div class="collapse navbar-collapse" id="Navbar">-->
<!--                    <ul class="navbar-nav mr-auto">-->
<!--                        <li class="nav-item"><a class="nav-link" href="{{ url_for('ui.about_page') }}">About Grameen Library</a></li>-->
<!--                        <li class="nav-item"><a class="nav-link" href="{{ url_for('ui.donation_info_page') }}"> About Donation</a></li>-->
<!--                        <li class="nav-item"><a class="nav-link" href="{{ url_for('ui.library_info_page') }}"> About Usage</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--        </div>-->
<!--</nav>-->
<div style="background-color:rgb(7, 173, 202);height:10vh"></div>
<div style="background-color:rgb(7, 173, 202)">
    <div class="container">
        <div class="card border border-success">
            <div style="background-color:white">
                <form method="post" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">
                            <div class="mt-2 ml-2 mb-2">Please enter the book details</div>
                        </legend>
                        {% with messages = get_flashed_messages(with_categories=True) %}
                        {% if messages %}
                        {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" id="donationconfirm">
                            <b>{{ message }}</b>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        <div class="ml-2">
                            {{ form.book_name.label(class="form-control-label") }}<span class="text-danger">*</span>
                        </div>
                        <div class="row justify-content-center">
                            <div class="form-group mb-5 mt-3 col-10">
                                {{ form.book_name(class="form-control form-control-lg") }}
                            </div>
                        </div>
                        <div id="number_books" style="display: none;">
                            <div class="ml-2">
                                {{ form.no_of_books.label(class="form-control-label") }}
                            </div>
                            <div class="row justify-content-center">
                                <div class="form-group mb-5 mt-3 col-10">
                                    {{ form.no_of_books(class="form-control form-control-lg") }}
                                </div>
                            </div>
                        </div>

                        <div class="ml-2">
                            {{ form.ISBN.label(class="form-control-label") }}
                        </div>
                        <div class="row justify-content-center">
                            <div class="form-group mb-5 mt-3 col-10">
                                {{ form.ISBN(class="form-control form-control-lg") }}
                            </div>
                        </div>
                        <div class="ml-2">
                            {{ form.author_name.label(class="form-control-label") }}
                        </div>
                        <div class="row justify-content-center">
                            <div class="form-group mb-5 mt-3 col-10">
                                {{ form.author_name(class="form-control form-control-lg") }}
                            </div>
                        </div>
                        <div class="ml-2">
                            {{ form.category.label(class="form-control-label") }}
                        </div>
                        <div class="dropdown row justify-content-center mb-3">
                            <div class="col-3">
                                <select class="btn form-control btn-info" id="category" name="category">
                                    {% for x in form.category.choices %}
                                    <option value="{{ x }}">{{ x }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <h3 align="center"> When can we collect from you</h3>
                        <div class="row mt-5 mb-3">
                            <div class="col-6">
                                {{ form.collection_from_date.label(class="form-control-label") }}
                                {{ form.collection_from_date(class="form-control form-control-lg") }}
                            </div>
                            <div class="col-6">
                                {{ form.collection_to_date.label(class="form-control-label") }}
                                {{ form.collection_to_date(class="form-control form-control-lg") }}
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group row">
                        <div class="col-6" align="center">
                            <a class="btn btn-lg btn-outline-info" type="button"
                               href="{{ url_for('donor_ui.donor_page', username=username, user_id=user_id) }}"> Back to Main
                                Screen</a>
                        </div>
                        <div class="col-6" align="center">
                            {{ form.submit(class="btn btn-lg btn-outline-info") }}
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<div style="background-color:rgb(7, 173, 202);height:25vh"></div>
{% endblock body %}

{% block script %}
<script>
    $("#donationconfirm").ready(function(){
        setTimeout(function(){$('#donationconfirm').hide()}, 3000);
    });

    $("#book_name").keyup(function(){
        if($("#book_name").val() != ""){
            $("#test").text("hello");
            $("#number_books").show();
        }
        else{
            $("#number_books").hide();
        }
    });

</script>

{% endblock script %}
