{% extends "bootstrap_enabler.html" %}

{% block head %}
<title>Donor Page</title>
{% endblock %}


{% block body %}
<!--<nav class="navbar navbar-dark navbar-expand-sm fixed-top">-->
<!--        <div class="container">-->
<!--            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->
<!--           <a class="navbar-brand" href="#"><a class="navbar-brand mr-auto" href="{{url_for('ui.landing_page')}}"><img src="/static/images/grameen_library_logo.jpeg" height="40" width="40"></a>-->
<!--        </a>-->
<!--                <div class="collapse navbar-collapse" id="Navbar">-->
<!--                    <ul class="navbar-nav mr-auto">-->
<!--                        <li class="nav-item"><a class="nav-link" href="{{ url_for('ui.about_page') }}">About Grameen Library</a></li>-->
<!--                        <li class="nav-item"><a class="nav-link" href="{{ url_for('ui.donation_info_page') }}"> About Donation</a></li>-->
<!--                        <li class="nav-item"><a class="nav-link" href="{{ url_for('ui.library_info_page') }}"> About Usage</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--        </div>-->
<!--</nav>-->
<div class="jumbotron jumbotron-bluebackground"
     style="background-image:radial-gradient(rgb(7, 173, 202), rgb(0, 85, 100));" align="center">
    <div class="row">
        <div class="col-3">
            <img src="{{ url_for('static', filename='images/PMI_logo.jpeg') }}" width="60%" height="60%">
        </div>
        <div class="col-6">
            <legend class="boldheading">Donor Dashboard</legend>
        </div>
        <div class="col-3"></div>
    </div>
</div>


<div class="container">
<!--    <div class="row justify-content-center mb-5 mt-5">-->
<!--        <div class="col-6">-->
<!--            <div class="row justify-content-end">-->
<!--                <h3 class="userpageheader">Donor Dashboard</h3>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-6">-->
            <div class="row justify-content-end">
                <a type="button" href="{{url_for('ui.landing_page')}}" class="btn btn-danger btn-danger" id="logout"> Logout </a>
            </div>
<!--        </div>-->
<!--    </div>-->
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="row justify-content-end mr-3" style="font-size: 25px;">
                <p class="userpagebody">Donor ID: {{user_id}}</p>
            </div>
        </div>
        <div class="col-6">
            <div class="row justify-content-start ml-3" style="font-size: 25px;">
                <p class="userpagebody">Number of books donated: {{ book_details.__len__() }}</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <img src="{{url_for('donor_ui.donation_visualization', book_details=book_details)}}" alt="Some Random Data">
        </div>
        <div class="col-6 d-flex justify-content-center align-items-center">
            <form method="post" action="" id="donordetailsform">
                <div class="card mb-4" id="confirmupdate" style="display: none; background-color: palegreen;">
                    <div class="card-header">
                        Update Successful
                    </div>
                </div>
                <fieldset>
                    <div class="form-group row">
                        <div class="col-4 align-self-center">
                            <label class="form-control-label" for="username"> Username</label>
                        </div>
                        <div class="col-">
                            <input class="form-control" type="text" id="username" name="username"
                                   placeholder="{{donor_details['username']}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 align-self-center">
                            <label class="form-control-label" for="email"> Email</label>
                        </div>
                        <div class="col-">
                            <input class="form-control" type="text" id="email" name="email"
                                   placeholder="{{donor_details['email']}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 align-self-center">
                            <label class="form-control-label" for="mobile"> Mobile Number</label>
                        </div>
                        <div class="col-">
                            <input class="form-control" type="text" id="mobile" name="mobile"
                                   placeholder="{{donor_details['mobile_number']}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 align-self-center">
                            <label class="form-control-label" for="address"> Address</label>
                        </div>
                        <div class="col-">
                            <textarea class="form-control" id="address"
                                      name="address" rows="3" cols="20">{{ donor_details['address'] }}</textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 align-self-center">
                            <label class="form-control-label" for="city"> City</label>
                        </div>
                        <div class="col-">
                            <input class="form-control" type="text" id="city" name="city"
                                   placeholder="{{donor_details['city']}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 align-self-center">
                            <label class="form-control-label" for="state"> State</label>
                        </div>
                        <div class="col-">
                            <input class="form-control" type="text" id="state" name="state"
                                   placeholder="{{donor_details['state']}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 align-self-center">
                            <label class="form-control-label" for="pincode"> Pincode</label>
                        </div>
                        <div class="col-">
                            <input class="form-control" type="text" id="pincode" name="pincode"
                                   placeholder="{{donor_details['pincode']}}">
                        </div>
                    </div>
                </fieldset>
                <div class="form-group d-flex justify-content-center">
                    <a class="btn btn-dark" id="updatedetails" href="#">Change Details</a>
                </div>
            </form>
        </div>
    </div>
    <!--	<div class="mt-5 mn-5"><p>.......</p></div>-->
    <!--	<div class="mt-5 mn-5"><p>.......</p></div>-->
    <!--	<div class="mt-5 mn-5"><p>.......</p></div>-->
    <!--	<div class="mt-5 mn-5"><p>.......</p></div>-->

    <div class="row justify-content-center mt-3">
        <div class="col-6">
            <div class="row justify-content-center">
                <a type="button" class="btn btn-lg btn-dark"
                   href="{{ url_for('donor_ui.donor_donation_page', user_id=user_id, username=username) }}">Donate Books</a> <br>
            </div>
            <div class="row justify-content-center">
                <p>Give your books a second life... or maybe a third one</p>
            </div>

        </div>
        <div class="col-6">
            <div class="row justify-content-center">
                <a type="button" class="btn btn-lg btn-dark"
                   href="{{ url_for('donor_ui.donor_stats', user_id=user_id, book_details=book_details, username=username) }}">Book
                    Usage</a>
            </div>
            <div class="row justify-content-center">
                <p> If you have donated your books, see where they found their new homes</p>
            </div>
        </div>
    </div>
</div>
<p id="test">

</p>
<a id="test1" type="button">click</a>
{% endblock body %}

{% block script %}
<script>
$(document).ready(function(){
    $('#test1').click(function(){
        $('#test').append("hello");
        $("p").append("<b>Appended text</b>");
    });

    $('#logout').on('click', function(event){
        $.post('/logout');
    });

    $('#updatedetails').on('click', function(event){
        event.preventDefault();
        $.ajax({
            data: {
                'user_id': {{ user_id }},
                'username': $('#username').val(),
                'username_placeholder': $('#username').attr('placeholder'),
                'email': $('#email').val(),
                'email_placeholder': $('#email').attr('placeholder'),
                'mobile': $('#mobile').val(),
                'mobile_placeholder': $('#mobile').attr('placeholder'),
                'address': $('#address').val(),
                'address_placeholder': $('#address').attr('placeholder'),
                'city': $('#city').val(),
                'city_placeholder': $('#city').attr('placeholder'),
                'state': $('#state').val(),
                'state_placeholder': $('#state').attr('placeholder'),
                'pincode': $('#pincode').val(),
                'pincode_placeholder': $('#pincode').attr('placeholder'),
            },
            type: 'POST',
            url: '/donor/update_details'
        }).done(function(resp){
            var data = JSON.parse(resp);
            $('#username').attr('placeholder', data['username']);
            $('#mobile').attr('placeholder', data['mobile']);
            $('#address').attr('placeholder', data['address']);
            $('#city').attr('placeholder', data['city']);
            $('#state').attr('placeholder', data['state']);
            $('#pincode').attr('placeholder', data['pincode']);
            $('#confirmupdate').show();
            setTimeout(function(){$('#confirmupdate').hide()},1000);
        });

    });
  });




</script>
{% endblock %}
