{% extends "bootstrap_enabler.html" %}

{% block head %}
<title>Donor Page</title>
{% endblock %}


{% block body %}
<div class = "container">
	<div class="row justify-content-center mb-5 mt-5">
		<h3 class="userpageheader">Donor Dashboard</h3>
	</div>
	<div class="row justify-content-center">
		<div class="col-6">
			<div class="row justify-content-center">
				<p class="userpagebody">Donor ID: {{user_id}}</p>
			</div>
		</div>
		<div class="col-6">
			<div class="row justify-content-center">
				<p class="userpagebody">Number of books donated: XX</p>
			</div>
		</div>
	</div>
	<div class="mt-5 mn-5"><p>.......</p></div>
	<div class="mt-5 mn-5"><p>.......</p></div>
	<div class="mt-5 mn-5"><p>.......</p></div>
	<div class="mt-5 mn-5"><p>.......</p></div>
	<div class="mt-5 mn-5"><p>.......</p></div>

	<div class="row justify-content-center">
		<div class="col-6">
			<div class="row justify-content-center">
				<a type="button" class="btn btn-lg btn-dark" href="{{ url_for('donor_donation_page', username=user_id) }}">Donate Books</a> <br>
			</div>
			<div class="row justify-content-center">
				<p>Give your books a second life... or maybe a third one</p>
			</div>

		</div>
		<div class="col-6">
			<div class="row justify-content-center">
				<a type="button" class="btn btn-lg btn-dark" href="#">Book usage</a>
			</div>
			<div class="row justify-content-center">
				<p> If you have donated your books, see where they found their new homes</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}