{% extends "bootstrap_enabler.html" %}

{% block head %}
<title>User Page</title>
{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-bluebackground"
     style="background-image:radial-gradient(rgb(7, 173, 202), rgb(0, 85, 100));" align="center">
    <div class="row">
        <div class="col-3">
            <img src="{{ url_for('static', filename='images/PMI_logo.jpeg') }}" width="60%" height="60%">
        </div>
        <div class="col-6">
            <legend class="boldheading">User Dashboard</legend>
        </div>
        <div class="col-3 align-self-end flex-column">
            <a type="button" href="{{url_for('ui.landing_page')}}" class="btn btn-danger btn-danger" id="logout">
                Logout </a>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <a href="{{ url_for('ui.about_page') }}" class="d-flex mt-4 mb-4 text-secondary">About Grameen
                Library</a><br>
        </div>
        <div class="col-5">

            <div class="card">
                <div class="card-header">
                    <h3 class="d-flex justify-content-center"> List of Borrowed Books</h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">S. No.</th>
                            <th scope="col">Name of the Book</th>
                            <th scope="col">Book ID</th>
                            <th scope="col">Borrowed Date</th>
                            <th scope="col">Return Date</th>
                            <th scope="col">Flag</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>book 1</td>
                            <td>book 1</td>
                            <td>book 1</td>
                            <td>book 1</td>
                            <td>book 1</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <h3 class="d-flex justify-content-center mt-4"> Remember to return the books on time</h3>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-header">
                    <h4 class="d-flex justify-content-center">Your Details</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="" id="details">
                        <fieldset>
                            <div class="form-group row">
                                <div class="col-4 align-self-center">
                                    <label class="form-control-label" for="name"> Name:</label>
                                </div>
                                <div class="col-">
                                    <input class="form-control" type="text" id="name" name="name" value="Borrower">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-4 align-self-center">
                                    <label class="form-control-label" for="pincode"> Pincode:</label>
                                </div>
                                <div class="col-">
                                    <input class="form-control" type="text" id="pincode" name="pincode" value="500090">
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-group d-flex justify-content-center">
                            <a class="btn btn-dark" id="updatedetails" href="#">Change Details</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
$(document).ready(function(){
    $('#logout').click(function() {
        $.post('/logout');
    });
})



</script>
{% endblock %}