{% extends "bootstrap_enabler.html" %}

{% block head %}
<title>Admin Page</title>
{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-bluebackground"
     style="background-image:radial-gradient(rgb(7, 173, 202), rgb(0, 85, 100));" align="center">
    <div class="row">
        <div class="col-3">
            <img src="{{ url_for('static', filename='images/PMI_logo.jpeg') }}" width="60%" height="60%">
        </div>
        <div class="col-6">
            <legend class="boldheading">Admin Dashboard</legend>
        </div>
        <div class="col-3 align-self-end flex-column">
            <a type="button" href="{{url_for('admin_ui.admin_login_page')}}" class="btn btn-danger btn-danger" id="logout">
                Logout </a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card" align="center">
        <div class="card-body">
            <a href="{{ url_for('admin_ui.admin_page_manage_donation', username=username) }}" type="button" class="btn btn-dark btn-lg mt-3 mb-3">Manage Donations</a><br>
            <a href="{{ url_for('admin_ui.admin_page_collect_books', username=username) }}" type="button" class="btn btn-dark btn-lg mt-3 mb-3">Manage Collections</a><br>
            <a href="{{ url_for('admin_ui.admin_page_manage_panchayat', username=username) }}" type="button" class="btn btn-dark btn-lg mt-3 mb-3">Manage Panchayats</a><br>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function(){
    $('#logout').click(function(){
        $.post('/logout');
    })
})
</script>
{% endblock %}