.jumbotron-bluebackground{
    background-color: rgb(7, 173, 202);
    width: ;
}

.boldheading{
    color:floralwhite;
    font-size: 2.5em;
    font-weight: bolder;

}

.userpageheader{
    color: rgb(7, 130, 202);
    font-weight: 900;
}

.userpagebody{
    color:rgb(7, 150, 202);
    font-weight: 400;
}

.btn-dark{
    background-color:rgb(7, 100, 202);
}

.navbar-dark{
    /* background-color:rgb(7, 220, 202); */
    background-color: floralwhite;
}

/* Fonts */

legend{
    font-family: Brush Script MT;
    font-size: larger;
    font-weight: 800;
}

blockquote{
    font-family: Brush Script MT;
    font-size: larger;
    font-weight: 800;
}

a{
    font-family: Helvetica, sans-serif;
    font-size:medium;
    font-style: italic;
    color: blue;
}

label, input{
    font-family: Helvetica, san-serif;
    font-size: medium;
    font-style:oblique;
}
p{
    font-family: cursive;
}