{% extends "bootstrap_enabler.html" %}

{% block head %}
<title>Landing Page</title>
{% endblock %}

{% block body %}
<!--<nav class="navbar navbar-dark navbar-expand-sm fixed-top">-->
<!--        <div class="container">-->
<!--            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->
<!--           <a class="navbar-brand" href="#"><a class="navbar-brand mr-auto" href="#"><img src="/static/images/grameen_library_logo.jpeg" height="40" width="40"></a>-->
<!--        </a>-->
<!--                <div class="collapse navbar-collapse" id="Navbar">-->
<!--                    <ul class="navbar-nav mr-auto">-->
<!--                        <li class="nav-item"><a class="nav-link text-success" href="{{ url_for('about_page') }}">About Grameen Library</a></li>-->
<!--                        <li class="nav-item"><a class="nav-link" href="{{ url_for('donation_info_page') }}"> About Donation</a></li>-->
<!--                        <li class="nav-item"><a class="nav-link" href="{{ url_for('library_info_page') }}"> About Usage</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--        </div>-->
<!--</nav>-->
<div class="jumbotron jumbotron-bluebackground"
     style="background-image:radial-gradient(rgb(7, 173, 202), rgb(0, 85, 100));" align="center">
    <div class="row">
        <div class="col-3">
            <img src="{{ url_for('static', filename='images/PMI_logo.jpeg') }}" width="60%" height="60%">
        </div>
        <div class="col-6">
            <legend class="boldheading">Grameen Library</legend>
            <blockquote style="font-size: 1.5em;" align="center">-- A PMIPCC Initiative</blockquote>
        </div>
        <div class="col-3"></div>
    </div>
</div>

<div class="container-fluid" style="position: relative;">
    <div style="z-index: 0; position: absolute; top: 0px; left: 0px;">
        <img src="{{ url_for('static', filename='images/grameen_library_logo.jpeg') }}" width="50%"
             height="50%">
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="card-title">
                        <h3 class="border-bottom mb-4">Login</h3>
                    </div>
                    <div class="card-body">
                        <form method="post" action="">
                            {{ form.hidden_tag() }}
                            <fieldset class="form-group">
                                {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">
                                    {{ message }}
                                </div>
                                {% endfor %}
                                {% endif %}
                                {% endwith %}
                                <div class="form-group">
                                    {{ form.username.label(class="form-control-label") }}
                                    {{ form.username(class="form-control form-control-lg") }}
                                </div>
                                <div class="form-group">
                                    {{ form.password.label(class="form-control-label") }}
                                    {{ form.password(class="form-control form-control-lg") }}
                                </div>
                            </fieldset>
                            <div class="form-group d-flex justify-content-center">
                                {{ form.submit(class="btn btn-outline-info btn-lg") }}
                            </div>
                        </form>
                        <div class="mb-5"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 offset-1">
                <!--            <a href="{{ url_for('user_registration_page') }}" class="d-flex mt-4 mb-4 text-secondary">User-->
                <!--                Registration</a>-->

                <!--            <a href="{{ url_for('panchayat_registration_page') }}" class="d-flex mt-4 mb-4 text-secondary">Librarian-->
                <!--                Registration</a>-->
                <!--            <a href="{{ url_for('volunteer_registration_page') }}" class="d-flex mt-4 mb-4 text-secondary">Volunteer-->
                <!--                Registration</a>-->
                <a href="{{ url_for('about_page') }}" class="d-flex mt-4 mb-4 text-secondary">About Grameen
                    Library</a><br>
                <a href="{{ url_for('donation_info_page') }}" class="d-flex mb-4 text-secondary">How to Donate
                    Books</a><br>
                <a href="{{ url_for('library_info_page') }}" class="d-flex mb-4 text-secondary">Using the
                    Library</a><br>
                <a href="{{ url_for('donor_registration_page') }}" class="d-flex mb-4 text-secondary">Donor
                    Registration</a><br>
        </div>
    </div>
</div>


{% endblock %}