{% extends "bootstrap_enabler.html" %}

{% block head %}
<title>About Gramen Library</title>
{% endblock %}

{% block body %}
<div class = "container mt-3">
	<p>The Grameen Library initiative of PMIPCC seeks to empower the underprivileged children by making free books available to them. In a scenario where many villages struggle to maintain basic amenities, a library would be viewed as a luxury.  We wish to bridge this gap by bringing books to the doorsteps of these villagers, and giving access to all.
Our objective is to set up mini-libraries in the villages which can be used by both adults and children. We hope this will help them immensely by expanding the horizons of young minds and help them build a better future for themselves.
		With the help of our donors, we would like to spread knowledge through books and transmit it to future generations. By contributing books, we promote the great cause of shaping the future of countless students from disadvantaged backgrounds across villages.</p>
	<b>So how do we do it?</b><br>
<p>We are reaching out to urban residents to encourage them to donate used books. We even offer doorstep collection. Such recycled books would not only become animated again, they could become tools for self-improvement in the hands of a rural child.
</p>
	<b>Where do the Books go?</b><br>
<p>We have identified some panchayats and villages and we are working with them to set up the Grameen libraries. The books will be sorted and sent to these Grameen Libraries.
	Going forward, we will continue to add more Panchayats and reach out to more villages.</p>
	<b>Who gets to use these books?</b><br>
<p>The people residing in the nearby villages can borrow these books. In case of text books, the school going children in the nearby villages can use them as supplemental reference.
We are creating an application that will record details about the book, the donor, and the borrowers. It will track the issue and the return of the books. Donors can track their books too.
</p><b>What kind of books can be donated?</b><br>
<p>Well, all kinds of books can be donated - Children's Story Books, Magazines, Fiction, books on science, history, philosophy, religion etc. Competitive Exam preparation material will be handy for job aspirants.
	A sub set of this initiative is a Book Bank for the under-privileged school-going children. All these books would be distributed through Grameen libraries.</p>
	<b>How can I donate?</b><br>
	<p>If you want to donate books, please send email to office@pmi-pcc.org or call us on 7569214789.</p>
	<p>We hope this initiative will make a difference and open a world of opportunities for the underprivileged!</p>
	<blockquote>As they say - "A reader today… A leader tomorrow”</blockquote>
</div>
{% endblock %}